*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container{
    
    color: black;
    width: 90%;
    margin: auto;
}
body{
    background-color: #fef0f2;
}
header{
    padding: 30px;
    text-align: center;
}
.d_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.item_one, .item_two {
    padding: 25px;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    height: 340px;
    flex-basis: 360px;
    background-color: #cee0eb;
}
h1{
    margin-bottom: 10px;
}

.feat{
    margin-top: 10px;
    margin-bottom: 30px;
}
.price{
    text-align: center;
}